// ------------- COLORS -------------
$color-gray: #e5e5e5;
$color-light-gray: #f9f9f9;
$color-dark-gray: #878787;
$color-white: #ffffff;
$color-black: #000000;

// ------------- FONT-WEIGHT -------------
$font-weight-bold: 700;